*.notes
*.png
*.pdf
data/
spark/assignment.2/_template_/part1/2010-parquet/
spark/assignment.2/_template_/part2/reddit/project/
spark/assignment.2/_template_/part2/reddit/results/
spark/assignment.2/_template_/part2/reddit/target/
*.tar.gz

spark/project/checkpoint/
spark/project/project/
spark/project/target/
